<div class="row border-top py-5">
  <div class="col-12">
    <p class=""><img src="{{ '/img/hkimg.png' | url }}" alt="Juntando as Pontas" width="60" height="60" class="float-left mt-1 me-3 gradient-rounded">Feito com amor em 
      <a href="https://github.com/holger1411" class="link-fancy">Brasília</a></p>
  </div>
</div>

<script src="{{ '/js/bootstrap.bundle.min.js' | url }}"></script>
