---
layout: layouts/blank.njk
---

<div class="container my-vh-6">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-8 my-4 text-center">
      <h1 class="display-3 fw-bolder">
      
        <strong>Juntando as Pontas</strong>
      </h1>
      <p class="lead mb-4">1ª Cooperativa Canábica do Brasil. Um movimento para a liberdade, cooperação e democracia.</p>
      <a class="btn btn-primary px-5 py-3 me-4 position-relative" href="#" target="_blank" rel="noopener" >Download do Estatuto
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark">v0.2<span class="visually-hidden">latest version</span></span></a>
      <a class="link-fancy py-2" href="/juntese">Seja um cooperado
      </a>
    </div>
  </div>
</div>

<div class="wrapper position-relative my-vh-5 bg-light text-dark">
  <div class="bg-white w-50 h-100 position-absolute d-none d-lg-block"></div>
  <div class="container position-relative py-vh-4">
    <div class="row justify-content-between d-flex align-items-stretch py-vh-2">
      <div class="col-12 col-lg-5">
        
		<h2 class="h2">Cientificamente e clinicamente comprovado</h2>
        <p>Estudos e pesquisas cientificas e clinicas comprovam que os óleos e outros medicamentos feitos a partir da Cannabis sativa são seguros, eficientes e eficazes. Nosso programa de tratamento aos cooperados é liderado por equipe multidiciplinar formada com médicos de família, psicólogos e terapeutas ocupacionais.</p>
      </div>
      <div class="col-12 col-lg-5 py-vh-1">
        
		<h2>Direto da terra</h2>
        <p>Nossos produtores utilizam técnicas sustentáveis, regenerativas e o processo é certificado pela Embrapa como 
		livre de agrotóxicos.</p>
      </div>
      <div class="col-12 col-lg-5 py-vh-1">
        
		<h2>Mais do que consumo ou conversas, soluções</h2>
        <p>Enquanto cooperativa, buscamos sustentabilidade e equidade. Os cooperados direcionam o orçamento e prioridade das iniciativas que atendam suas necessidades e anseios.</p>
      </div>
      <div class="col-12 col-lg-5 py-vh-1">
        
		<h2>Democracia participativa</h2>
        <p>Por meio das assembléias online, votação e colaboração assíncrona nas diretrizes você constrói, de forma direta, um mundo melhor para as pessoas, ajudando e participando diretamente nas tomadas de decisão da cooperativa.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row py-5 border-top">
    <div class="col-12 col-lg-6 border-right">
      <h2>Edite este website</h2>
      <p>O código fonte pode ser encontrado no
        <a href="https://github.com/esperanca/jcbb/" class="link-fancy" target="_blank" rel="noopener">Github</a>.</p>
    </div>
    <div class="col-12 col-lg-6 pl-4">
      <h2>Créditos</h2>
      <p>Feito em 11ty com base no tema 11straps</p>
    </div>
  </div>
</div>
