---
layout: layouts/default.njk
title: Sobre a cooperativa
---
<hr/><p class="lead">A **Juntando as Pontas - Cooperativa Canábica Brasileira (JPCCB)** é uma cooperativa de saúde sem fins lucrativos, dedicada a desenvolver e fortalecer a indústria da Cannabis no Brasil com foco medicinal, terapêutico e industrial. Nossa missão é promover a produção, comercialização, pesquisa e desenvolvimento de produtos e serviços relacionados à Cannabis, garantindo um mercado sustentável, ético e inovador, sempre respeitando a legislação vigente e as boas práticas em todas as etapas da cadeia produtiva.
</p>
<hr/>
<h2>Dolor sitam est?</h2>
<p>Nosso objetivo principal é fomentar a cadeia produtiva e de valor da Cannabis em todo o território nacional, integrando cooperados de diversas áreas para colaborar no desenvolvimento sustentável desta atividade. Buscamos defender os interesses dos nossos cooperados perante órgãos governamentais e entidades reguladoras, promovendo a transparência, ética e responsabilidade social. Junte-se a nós e faça parte dessa iniciativa pioneira, contribuindo para um futuro mais saudável e inovador no Brasil.</p>

<h2>Como se associar</h2>
<p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
</p>




