---
layout: layouts/default.njk
title: Sobre a cooperativa
---
<hr/><p class="lead">A Juntando as Pontas - Cooperativa Canábica Brasileira (JPCCB) é a 1ª cooperativa agrícola e de saúde sem fins lucrativos, dedicada a desenvolver e fortalecer a indústria e o mercado da Cannabis no Brasil com foco medicinal, terapêutico e industrial. 
</p>
<hr/>

<h2>Missão</h2>
<p>Nossa missão consiste em promover a democratização e o acesso a produção, comercialização, pesquisa e desenvolvimento de produtos e serviços relacionados à Cannabis, garantindo um ecossistema sustentável, ético e inovador, sempre respeitando todas as legislações vigente e as boas práticas dos orgões reguladores em todas as etapas da cadeia produtiva.</p>

<p>Unir as pontas soltas que existem a respeito da indústria, do mercado, da regularização, da legislação em relação à Cannabis além de assegurar e possibilitar o acesso a saúde, um direito de todos e dever de todos, garantido mediante políticas sociais e econômicas que visem à redução do risco de doenças e de outros agravos e ao acesso universal e igualitário às ações e serviços para sua promoção, proteção e recuperação, conforme o Art. 196. da Constituição Da República Federativa do Brasil de 1988.

<h2>Visão</h2>
<p>Reduzir a desigualdade social por meio de iniciativas que colaborem para a resolução desse problema social que ocorre quando alguns indivíduos têm acesso a mais recursos e oportunidades do que outros e causadas por várias razões, como renda, educação, localização geográfica ou preconceito.</p>

<h2>Princípios</h2>
<p> </p>
<h3>I - Adesão voluntária e livre:</h3>
<p>Significa que são organizações abertas a todas as pessoas aptas a utilizar seus serviços, sem discriminação de sexo, gênero, social, racial, política ou religiosa. Os membros precisam cumprir requisitos mínimos e assumir responsabilidades. A decisão de adesão é do próprio interessado, sem coerção externa.</p>

<h3>II - Gestão Democrática:</h3> 
<p>Significa que são controladas pelos cooperados, que participam das decisões políticas. Todos os membros têm direito de votar e ser votado, participando ativamente da vida da cooperativa. Nas cooperativas de primeiro grau, cada membro tem um voto. Em graus superiores, outras formas democráticas são adotadas, como o voto múltiplo. Os representantes eleitos são responsáveis perante os membros. A gestão democrática se baseia em igualdade, transparência e responsabilidade, sendo essencial para o sucesso da cooperativa.</p>

<h3>III - Participação econômica:</h3> 
<p>A participação econômica nas cooperativas envolve os membros contribuindo de forma equitativa para o capital da cooperativa, adquirindo cotas para se tornarem donos. Parte desse capital é propriedade comum da cooperativa, e os membros podem receber remuneração sobre o capital integralizado, se houver lucro. O crescimento da cooperativa depende do capital social e das reservas, sendo um dever dos associados contribuir para isso. Os excedentes podem ser destinados ao desenvolvimento da cooperativa, retorno aos sócios ou apoio a atividades aprovadas. Além de contribuir financeiramente, os cooperados têm o dever de operar com a cooperativa, garantindo um esforço proporcionalmente distribuído. Esse princípio reflete responsabilidade e solidariedade, resultando em melhor atendimento, preços atrativos e distribuição proporcional dos resultados.</p>

<h3>IV - Autonomia e Independência:</h3>
<p>Princípios fundamentais das cooperativas, que são controladas pelos seus membros. Mesmo ao fazer acordos com outras organizações, incluindo públicas, a autonomia da cooperativa deve ser garantida. Sendo uma iniciativa voluntária baseada na autogestão, seu sucesso ou falha afeta apenas os membros. Os valores associados a esse princípio são democracia, transparência e honestidade. A influência externa não deve afetar o controle dos membros, e a cooperativa deve ser protegida contra forças externas. Qualquer envolvimento com órgãos externos não deve prejudicar os membros ou favorecer os administradores. Embora o Estado não interfira no funcionamento das cooperativas, pode regulamentar e supervisionar livremente.</p>

<h3>V - Educação, formação e informação:</h3>
<p>Destaca a importância de promover o aprendizado e o desenvolvimento dos membros em todos os níveis. As cooperativas devem incentivar a educação nas comunidades onde estão presentes para fortalecer o desenvolvimento econômico, social e ambiental. Todos os participantes da cooperativa devem ser continuamente qualificados para contribuir para o crescimento e o benefício da cooperativa. Palestras, cursos técnicos e workshops são formas de capacitação dos associados, com programas adaptados aos perfis internos. Antes de assumir cargos importantes, os membros devem passar por preparação para o contexto cooperativo. Esse princípio está diretamente ligado aos valores de transparência e responsabilidade.</p>

<h3>VI - Intercooperação:</h3>
<p>Destaca a eficácia das cooperativas em servir seus membros e fortalecer o movimento cooperativo quando trabalham juntas. Esse processo ocorre em níveis local, regional, nacional e internacional. Começando na base, as cooperativas de diferentes ramos cooperam entre si. Por exemplo, cooperativas agrícolas usando serviços bancários de cooperativas financeiras. Os associados muitas vezes pertencem a várias cooperativas que cooperam entre si. A integração vertical envolve organizações de segundo e terceiro níveis, fortalecendo o sistema cooperativo como um todo. Essa intercooperação reflete o valor da solidariedade, buscando o desenvolvimento e a sustentabilidade das cooperativas de diferentes ramos e níveis.</p>

<h3>VII - Interesse pela comunidade:</h3>
<p>Buscam o desenvolvimento sustentável das comunidades por meio de políticas aprovadas pelos membros. Esse compromisso difere das instituições bancárias, priorizando o equilíbrio e o bem-estar das comunidades. Respeitam as características locais e promovem soluções de negócios e ações humanitárias. Os projetos apoiados devem ser viáveis economicamente, socialmente e ambientalmente. O foco está na melhoria contínua da qualidade de vida dos membros e não na busca de lucro mercantilista. A responsabilidade social é fundamental nesse princípio. As decisões sobre as diretrizes para alcançar esses objetivos são tomadas pelos próprios membros.</p>

<h3>VIII - Prestação de Contas:</h3> 

<p>I - Transparência financeira e administrativa: As cooperativas devem operar de forma transparente em relação às suas finanças e administração. Isso inclui divulgar informações claras e precisas sobre receitas, despesas, investimentos e decisões administrativas relevantes.</p>

<p>II - Responsabilidade dos gestores perante os membros: Os gestores da cooperativa, sejam eles eleitos ou contratados, têm a responsabilidade de prestar contas às pessoas que representam, ou seja, aos membros. Eles devem agir no melhor interesse da cooperativa e prestar esclarecimentos sobre suas ações e decisões.</p>

<p>III - Prestação de contas regular e acessível: A cooperativa deve fornecer relatórios financeiros e administrativos regularmente aos seus membros, de uma maneira que seja facilmente compreensível e acessível a todos. Isso pode incluir reuniões periódicas, relatórios escritos ou acesso a plataformas online.</p>

<p>IV - Proteção e respeito aos interesses dos membros: A prestação de contas deve garantir que os interesses dos membros sejam protegidos e respeitados. Isso significa que as decisões da cooperativa devem ser tomadas considerando o benefício coletivo e que os recursos da cooperativa sejam utilizados de forma responsável e em conformidade com os princípios cooperativistas.</p>

<h2>Valores</h2>
<p></p>
<h3>I - Ajuda mútua e responsabilidade:</h3>
<p>A colaboração entre as pessoas é fundamental no cooperativismo, onde a ajuda mútua e a responsabilidade com o próximo são valores essenciais para alcançar o bem comum.<p>

<h3>II - Democracia:</h3>
<p>Garante que todos os cooperados tenham igualdade de direitos nas decisões políticas, sem distinção ou favorecimento de grupos.</p>

<h3>III - Igualdade:</h3>
<p>A igualdade no cooperativismo implica tratar todos os cooperados de forma igual, sem discriminação com base em características pessoais, pois todas são consideradas igualmente importantes.</p>

<h3>IV - Equidade:</h3>
<p>A equidade no cooperativismo assegura um tratamento justo e igualitário, considerando o nível de participação e contribuição dos associados, que compartilham os benefícios de forma proporcional.</p>

<h3>V - Solidariedade:</h3> 
<p>A solidariedade é essencial no cooperativismo, representando o compromisso mútuo entre os associados. É fundamental para fortalecer a cooperação dentro da cooperativa.</p>

<h3>VI - Honestidade:</h3> 
<p>A honestidade é fundamental no cooperativismo, garantindo justiça no processo de participação e distribuição. A educação promovida pela cooperativa pode reforçar esse valor entre os associados.</p>

<h3>VII -  Transparência:</h3> 
<p>A transparência é crucial para garantir que um negócio seja democrático, igualitário e honesto. Portanto, é fundamental implementar mecanismos transparentes de acesso a informações e participação dos cooperados.</p>

<h3>VIII - Responsabilidade Social:</h3> 
<p>O princípio do cooperativismo inclui a responsabilidade social, demonstrada pelo interesse pela comunidade e pelo coletivo. Isso reflete o compromisso com o bem-estar de todos os envolvidos.</p>

<h3>IX - Comunicação:</h3> 
<p>Precisão, concisão, coerência, cortesia, completude e consideração do contexto. Esses princípios são essenciais para garantir uma comunicação eficaz e compreensível entre os interlocutores.</p>

