---
layout: layouts/default.njk
title: Sobre a cooperativa
---
<hr/><p class="lead">A **Juntando as Pontas - Cooperativa Canábica Brasileira (JPCCB)** é uma cooperativa de saúde sem fins lucrativos, dedicada a desenvolver e fortalecer a indústria da Cannabis no Brasil com foco medicinal, terapêutico e industrial. Nossa missão é promover a produção, comercialização, pesquisa e desenvolvimento de produtos e serviços relacionados à Cannabis, garantindo um mercado sustentável, ético e inovador, sempre respeitando a legislação vigente e as boas práticas em todas as etapas da cadeia produtiva.
</p>
<hr/>
<h2>Missão</h2>
<p>Nosso objetivo principal é fomentar a cadeia produtiva e de valor da Cannabis em todo o território nacional, integrando cooperados de diversas áreas para colaborar no desenvolvimento sustentável desta atividade. Buscamos defender os interesses dos nossos cooperados perante órgãos governamentais e entidades reguladoras, promovendo a transparência, ética e responsabilidade social. Junte-se a nós e faça parte dessa iniciativa pioneira, contribuindo para um futuro mais saudável e inovador no Brasil.</p>
<p>Unir as pontas soltas que existem a respeito da indústria, do mercado, da regularização, da legislação em relação à Cannabis além de assegurar e possibilitar o acesso a saúde, um direito de todos e dever de todos, garantido mediante políticas sociais e econômicas que visem à redução do risco de doenças e de outros agravos e ao acesso universal e igualitário às ações e serviços para sua promoção, proteção e recuperação, conforme o Art. 196. da Constituição Da República Federativa do Brasil de 1988.
<h2>Visão</h2>
<p>Reduzir a desigualdade social por meio de iniciativas que colaborem para a resolução desse problema social que ocorre quando alguns indivíduos têm acesso a mais recursos e oportunidades do que outros e causadas por várias razões, como renda, educação, localização geográfica ou preconceito.</p>
<h2>Princípios</h2>
<p>Reduzir a desigualdade social por meio de iniciativas que colaborem para a resolução desse problema social que ocorre quando alguns indivíduos têm acesso a mais recursos e oportunidades do que outros e causadas por várias razões, como renda, educação, localização geográfica ou preconceito.</p>
<h2>Valores</h2>
<h2>Ajuda mútua e responsabilidade:</h2>
<p>A colaboração entre as pessoas é fundamental no cooperativismo, onde a ajuda mútua e a responsabilidade com o próximo são valores essenciais para alcançar o bem comum.<p>

<h2>Democracia:</h2>
<p>garante que todos os associados tenham igualdade de direitos nas decisões políticas, sem distinção ou favorecimento de grupos.<p>

<h2>Igualdade:</h2>
<p>A igualdade no cooperativismo implica tratar todos os cooperados de forma igual, sem discriminação com base em características pessoais, pois todas são consideradas igualmente importantes.</p>


<h2>Equidade:</h2>
<p>A equidade no cooperativismo assegura um tratamento justo e igualitário, considerando o nível de participação e contribuição dos associados, que compartilham os benefícios de forma proporcional.</p>

<h2>VI - Solidariedade:</h2> 
<p>A solidariedade é essencial no cooperativismo, representando o compromisso mútuo entre os associados. É fundamental para fortalecer a cooperação dentro da cooperativa.</p>

<h2>VII - Honestidade:</h2> 
<p>A honestidade é fundamental no cooperativismo, garantindo justiça no processo de participação e distribuição. A educação promovida pela cooperativa pode reforçar esse valor entre os associados.</p>

<h2>VIII -  Transparência:</h2> 
<p>A transparência é crucial para garantir que um negócio seja democrático, igualitário e honesto. Portanto, é fundamental implementar mecanismos transparentes de acesso a informações e participação dos cooperados.</p>

<h2>IX - Responsabilidade Social:</h2> 
<p>O princípio do cooperativismo inclui a responsabilidade social, demonstrada pelo interesse pela comunidade e pelo coletivo. Isso reflete o compromisso com o bem-estar de todos os envolvidos.</p>

<h2>X - Comunicação:</h2> 
<p>Precisão, concisão, coerência, cortesia, completude e consideração do contexto. Esses princípios são essenciais para garantir uma comunicação eficaz e compreensível entre os interlocutores.</p>




